<header>
  <nav class="nav-container">
    <div class="nav-side left"></div>

    <span class="nav-title" routerLink="/">{{ title() }}</span>

    <div class="nav-side right">
      @if (userService.currentUser() && router.url.includes("/chat")) {
      <div class="user-menu">
        <span class="user-email" (click)="toggleMenu()">{{ userService.currentUser()!.email.replace(userRegex(), "") }}</span>
        @if (menuOpen()) {
          <div class="user-dropdown">
            <button (click)="logout()">Logout</button>
          </div>
        }
      </div>
    }
    </div>
  </nav>
</header>
