/* You can add global styles to this file, and also import other style files */
@use './app/styles/variables.scss' as variables;

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: variables.$background-light;
}

* {
    outline: none;
    font-family: "M Plus 1", "Roboto", "Open Sans", sans-serif;
}